<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="movie"></ion-back-button>
        </ion-buttons>
        <ion-title>Nueva Pelicula</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <ion-searchbar [(ngModel)]="pelicula"></ion-searchbar>
        <ion-button class="medium" (click)="search()">Búsqueda</ion-button>
        <ion-card *ngFor="let item of (result | async)">

            <ion-card-header>
                <ion-button color="success" (click)="addmovie(item)">
                    Add
                </ion-button>
                <ion-card-title>{{item.Title}}</ion-card-title>
                <ion-card-subtitle>{{item.Year}}</ion-card-subtitle>

            </ion-card-header>
            <ion-card-content [routerLink]="['../', 'moviedetails', item.imdbID]">
                <img src="{{item.Poster}}" alt="">
            </ion-card-content>

        </ion-card>
    </div>
    <form class="form">
        <ion-item>
            <ion-label position="floating" color="primary">Title:</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">Year: </ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary"> URL de la imagen: </ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <div class="div-button-create">

            <ion-button color="secondary" (click)="takePicture()">Tomar foto</ion-button>
            <br>
            <ion-button type="submit" color="success"> Crear Pelicula </ion-button>
        </div>
    </form>
</ion-content>