<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="movie"></ion-back-button>
        </ion-buttons>
        <ion-title>New Movie</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <ion-searchbar [(ngModel)]="pelicula"></ion-searchbar>
        <ion-button class="medium" (click)="search()">Search</ion-button>
        <ion-card *ngFor="let item of (result | async)">

            <ion-card-header>
                <ion-button color="success" (click)="addmovie(item)">
                    Add
                </ion-button>
                <ion-card-title>{{item.Title}}</ion-card-title>
                <ion-card-subtitle>{{item.Year}}</ion-card-subtitle>

            </ion-card-header>
            <ion-card-content [routerLink]="['../', 'moviedetails', item.imdbID]">
                <img src="{{item.Poster}}" alt="">
            </ion-card-content>

        </ion-card>
    </div>

    <form class="form" [formGroup]="formValidation" (ngSubmit)="onSubmit(formValidation.value)">
        <div>
            <ion-row class="center">
                <ion-col size="12">
                    <img [src]="url" width="200" height="200" *ngIf="!photo && url" />
                    <img src="../../assets/img/movie.jpg" width="200" height="200" *ngIf="!photo && !url" />
                    <img [src]="photo" #image width="200" height="200" *ngIf="photo" />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="center">
                    <ion-button color="secondary" (click)="takePicture()">
                        Upload Movie Image
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="full">
                        <ion-label position="floating">Title:</ion-label>
                        <ion-input type="text" formControlName="title"></ion-input>
                    </ion-item>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="full">
                        <ion-label position="floating">Year:</ion-label>
                        <ion-input type="text" formControlName="year"></ion-input>
                    </ion-item>

                </ion-col>
            </ion-row>
        </div>
        <div>
            <ion-card *ngIf="photo && geolocation">
                <ion-card-header>
                    <ion-card-title>Coordinates</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-item>Latitude: {{ latitude }}</ion-item>
                    <ion-item>Longitude: {{ longitude }}</ion-item>
                    <ion-item>Accuracy: {{ accuracy }}</ion-item>
                </ion-card-content>
            </ion-card>
        </div>

        <ion-button type="submit" color="success" expand="block" [disabled]="!formValidation.valid"> Creat New Movie </ion-button>
    </form>

</ion-content>