<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/addmovie']">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Movies List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
    <div *ngIf="items.length > 0" class="list-mini">
        <ion-list>
            <ion-item *ngFor="let item of items">
                <ion-thumbnail slot="start">
                    <img alt="" [src]="item.payload.doc.data().Poster">
                </ion-thumbnail>
                <ion-label>{{item.payload.doc.data().Title}}</ion-label>
                <ion-button fill="clear" slot="end" [routerLink]="['../', 'moviedetails', item.payload.doc.data().imdbID]">Ver detalle</ion-button>
                <ion-button fill="clear" (click)="delete(item.payload.doc.data().imdbID)" color="danger" slot="end">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </div>
    <div class="empty-list" *ngIf="items.length === 0">
        <p>No tiene ningún pelicula en la lista.</p>
    </div>



</ion-content>